<!-- <head>
    <Style>
        video {
            border: 2px solid gray;
            border-width: 4px 2px;
            border-radius: 6px;
            background-color: rgb(223, 223, 223);
        }
    
        video:active {
            border: 0;
        }
    
        #video-override-css {
            padding: 0;
            margin: 0px;
            min-height: 0;
        }
    </Style>
</head> -->

<video class="main" id="video-override-css" controls muted>
    <source src="{{ .Get 0 }}" type="video/mp4">
    Your browser does not support the video tag.
</video>